<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">


	 <context:component-scan base-package="core" /> 
	
	 <bean id="greetingMessageServiceImpl" class="core.hello.GreetingMessageServiceImpl">
       
    </bean>
    
</beans> 
<!--<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="OutputHelper" class="chapter1.core.di.OutputHelper2">
        <property name="outputGenerator" ref="JsonOutputGenerator" />
    </bean>
    
    <bean id="CsvOutputGenerator" class="chapter1.core.di.CsvOutputGenerator" />
    <bean id="JsonOutputGenerator" class="chapter1.core.di.JsonOutputGenerator" />
        
</beans>-->

